<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>PodConverge Design Tool – Create & Sell Custom Products with AI</title>

    <meta name="description" content="Design products and marketing content side by side in one powerful design tool. Built for creators, powered by AI, connected to fulfillment.">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="PodConverge Design Studio – Create & Sell Smarter">
    <meta property="og:description" content="Design physical products and marketing content in one seamless workspace. From idea to fulfillment, all in one platform.">
    <meta property="og:image" content="https://cdn.prod.website-files.com/67f9e37d2267aa9a7130aa95/6812fde133475e03afd36774_Home%20page%20hero.avif">
    <meta name="theme-color" content="#FFFFFF" media="(prefers-color-scheme: light)">
    <link id="theme" href="css/main.css?ts={{& ts}}" rel="stylesheet" type="text/css" />
    {{#isDebug}}
    <link href="css/debug.css?ts={{& ts}}" rel="stylesheet" type="text/css" />
    {{/isDebug}}

    <link rel="icon" type="image/svg+xml" href="images/favicon.svg"/>
    {{# manifest}}
    <script>window.penpotWorkerURI="{{& worker_main}}"</script>
    <script defer src="{{& config}}"></script>
    <script defer src="{{& polyfills}}"></script>
    {{/manifest}}

    <script>
      window.penpotTranslations = JSON.parse({{& translations}});
      window.penpotVersion = "%version%";
      window.penpotBuildDate = "%buildDate%";
    </script>
    <!--cookie-consent-->
  </head>
  <body>
    {{> ../public/images/sprites/symbol/icons.svg }}
    {{> ../public/images/sprites/symbol/cursors.svg }}
    {{> ../public/images/sprites/assets.svg }}
    <div id="app"></div>
    <section id="modal"></section>

    {{# manifest}}
    <script defer src="js/libs.js?ts={{& ts}}"></script>
    <script defer src="{{& shared}}"></script>
    <script defer src="{{& main}}"></script>
    {{/manifest}}
  </body>
</html>
